{{- if not .Date.IsZero -}}
<span title='{{ .Date }}'>{{ .Date.Format (default "January 2, 2006" .Site.Params.DateFormat) }}</span>
{{- end -}}

{{- if (.Param "ShowReadingTime") -}}
&nbsp;·&nbsp;<span>{{ i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) }}</span>
{{- end -}}

{{- if (.Param "ShowWordCount") -}}
&nbsp;·&nbsp;<span>{{ i18n "words" .WordCount | default (printf "%d words" .WordCount) }}</span>
{{- end -}}

{{- with (partial "author.html" .) -}}
&nbsp;·&nbsp;<span>{{ . }}</span>
{{- end -}}

{{- if and .Site.Params.analytics.goatcounter .IsPage (eq .Type "post") -}}
&nbsp;·&nbsp;<span id="stats-{{ .RelPermalink }}" class="goatcounter-views">... views</span>
{{- end -}}
